body {
    font-family: Verdana, serif;
}

.container {
    margin: 0 auto;
    padding-top: 6%;
    max-width: 60%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 10%;
    padding-bottom: 2%;
}

.bayan {
    border-top: 1px solid black;
}

.label {
    display: block;
}

.radio {
    appearance: none;
}

.title-flex {
    margin: -0.5em 0.5em 1em 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    color: forestgreen;
    transition: all 0.2s ease-in;
}

.ico {
    background-image: url("img/ico.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.image {
    margin: 0 auto;
    width: 0;
    height: 0;
    transition: all 0.25s ease-in;
}

.radio:checked ~ .image {
    width: 30%;
    height: 30%;
}

.radio:checked ~ .title-flex .ico {
    opacity: 1;
}

.radio:checked ~ .title-flex .title {
    color: black;
}

